.details h2 {
    text-align: center;
    padding: 20px 0px;
    color: white;
    margin: 0px;
}

.locationList {
    margin-top: 15px;
    overflow: auto;
    height: 85vh;
}

@media (max-width:768px) {
    .locationList {
        height: 40vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}