@import 'styles/_colors.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@mixin border-radius($amount: 5px){
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

%wrapper {
  background-color: #03A9F4;
}

.details {
  @extend %wrapper;
  width: 100%;
  height: 85vh;
  overflow: auto;
  padding: 0 20px;
  margin-top: 15px; 
  color: $title_color;
  @include border-radius(10px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

